* {
    /* border: 0.5px solid black; */
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, p {
    margin: 0;
}

p {
    font-size: 12px;
    font-size: 1.5vh; 
    text-align: center;
    color: #E5E7EB;
}

a {
    font-size: 12px;
    font-size: 1.5vh; 
    text-align: center;
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    color: white;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    min-width: 800px;
}

#header {
    width: 100%;
    height: 8vh;
    margin: 0;
    padding: 0 14%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
}

#hd-logo {
    font-size: 24px;
    font-size: 3vh;
    color: #F9FAF8;
}

#hd-links {
    display: flex;
    flex: 0 2 auto;
    justify-content: space-around;
    width: 40%;
}

.hd-link {
    padding: 0;
    width: 33%;
}

#hero {
    width: 100%;
    height: 50vh;
    display: flex;
    margin: 0;
    padding: 5% 14%;
    box-sizing: border-box;
    background: #1F2937;
    justify-content: center;
    align-items: center;
}

#hero-txt {
    color: #F9FAF8;
    width: 50%;
    height: 100%;
}

#hero-txt p {
    text-align: left;
    margin: 0.5vh 0;
}

h1 {
    font-weight: extra-bold;
    font-size: 48px;
    font-size: 6vh;

}

button {
    background: #3882F6;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    box-sizing:border-box;
    padding: 0.25vh 1vh;
    width: 11vh;
    height: 3.25vh;
    border-radius: 5px;
    font-size: 12px;
    font-size: 1.5vh;
    font-weight: bold;
    margin-top: 1vh;
    border: none;
}

button:hover {
    background: #3277e6;
}

#hero-img {
    width: 50%;
    height: 100%;
    background-image: url("images/sleepfru.jpg");
    background-size: cover;
    background-position: 0 90%;
}



#info {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    background: white;
    
}

#info-txt {
    margin: 4vh 0;
    height: 10%;
    font-size: 36px;
    font-size: 2.5vh;
}

#info-cont {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 50%;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90%;
    width: 20%;
}

.info-block p {
    color: black;
    width: 90%
}

.info-img {
    height: 16vh;
    width: 16vh;
    border: 0.3vh solid #3882F6;
    border-radius: 5px;
    margin: 0 auto 5% auto;
    background-size:cover;
}

#info-img-1 {
    background-image: url("images/sleepfru.jpg");

}

#info-img-2 {
    background-image: url("images/alertfru.jpg");
    background-position: right bottom;
}

#info-img-3 {
    background-image: url("images/blanketfru.jpg");
}
#info-img-4 {
    background-image: url("images/LongingFru.jpg");
}


#quote-block {
    background: #E5E7EB;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

#quote-block p {
    font-size: 36px;
    font-size: 2.5vh;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
    text-align: center;
}

#quote {
    width: 35%;
    text-align: center;
}

#quote-sign {
    margin-top: 1%;
    width: 35%;
    font-size: 24px;
    font-size: 1.75vh;
    font-weight: 600;
    text-align: right;
}

#sign-up-block {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    background: white;
}

#call-block {
    background: #3882F6;
    color: white;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    border-radius:5px;
}

#call-block button {
    border: 0.25vh solid white;
}

#footer {
    background: #1F2937;
    width: 100%;
    height: 8vh;
    display: flex;
}

#footer p {
    margin: auto;
}
/* #quote-block * {
    border: 0.5px solid black;
} */